/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 8, 2015, 1:20:37 PM
    Author     : Ultimo User
*/
#pageTitle{
    text-align: center;
}
.center{
    text-align: center;
    alignment-adjust: central;
}
.center-header{
    text-align: center;
    background-color: lightgray;
    border-radius: 25px 25px 0 0;
    border: 1px solid black;
}
.form-container{
    border: 1px solid black;
    border-radius: 0 0 15px 15px;
    padding: 10px;
}
.halfLength{
    min-height: 30%;
}
.fullLength{
    min-height: 80%;
}
.topPadding{
    margin-top: 10px;
}
.navbar-brand{
    margin: 0;
    padding: 15px 5px 15px 5px;
}
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar-nav{
    padding: 0px 5px 0px 5px;
}
#contactInfoContainer{
    margin-top: 10px;
}
.contactInformation, .emergencyContact{
    transition: all linear 0.5s;
    background: transparent;
}
.contactInformation .ng-invalid, .emergencyContact .ng-invalid{
    background: yellow;
}
#assessmentMeasurementContainer{
    margin-top: 15px;
}
#assessmentMeasurementContainer .formSection{
    border-bottom: 1px solid lightgrey;
}