<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<nav class="navbar navbar-inverse" ng-controller="assessmentController">
    <div class="container-fluid">
        <div class="navbar-header center">
            <a class="navbar-brand" href="">ASSESSMENT</a>
        </div>
        <div>
            <ul class="nav navbar-nav" >
                <li ng-class="activeNavTab(tab)" ng-repeat="tab in assessmentTabs" tab="tab">
                    <a href="" ng-click="selectedTab(tab)"><h4 id="{{tab.label}}" class="menutitle">{{tab.label}}</h4></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
    </div>
</nav>
