<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class='container-fluid' ng-controller="assessmentController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header center">
                <a class="navbar-brand" href="">ASSESSMENT</a>
            </div>
            <div>
                <ul class="nav navbar-nav" >
                    <li ng-class="activeNavTab(tab)" ng-repeat="tab in assessmentTabs" tab="tab">
                        <a href="" ng-click="selectedTab(tab)"><h4 id="{{tab.label}}" class="menutitle">{{tab.label}}</h4></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
<!--     For Photos-->
    <div ng-show="tabIsSet.label ==='Photo'" ng-include="'source/client/assessment/partials/before_after_photos.html'"></div>

<!--     For Measurements -->
    <div ng-show="tabIsSet.label ==='Measurements'" ng-include="'source/client/assessment/partials/measurement.html'"></div>
    
<!--     For Movement -->
    <div ng-show="tabIsSet.label ==='Movements'" ng-include="'source/client/assessment/partials/movement.html'"></div>
    
    <!-- For Tracker-->
    <div ng-show="tabIsSet.label ==='Tracker'" ng-include="'source/client/assessment/partials/tracker.html'"></div>
</div>